body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../img/background.jpeg') no-repeat center;
}
.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background: black;
}

.hand-container {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.hand {
  overflow: auto;
}

.hand h2 {
  text-align: center;
}

.card img{
  width: 100px;
  height: 140px;
}

.winLose,  .feedback{
  height: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.gameview {
  background-image: url(../img/parchment.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 450px;
  height: 700px;
  opacity: 0.8;
}

h1 {
  padding-top: 40px;
  text-align: center;
}

button {
  font-size: 20px;
}

.buttons {
  text-align: center;
  margin-top: 25px;
  height: 32px;
  opacity: 1;
}
