.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background: black;
}

.hand {
  overflow: auto;
}

.card img{
  width: 100px;
  height: 140px;
}


